/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif; */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #15202b;
    background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}




.wrapper{
    width: 605px;
    background: #fff;
    border-radius: 30px;
    padding: 30px 30px 25px;
    box-shadow: inset 2px 2px 30px #000;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author{
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    justify-content: flex-end;
} 


.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;;
    justify-content: space-between;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: red;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid red;
    transition: all 0.3s ease;
}

.features ul li:hover{
    color: #fff;
    background: black;
}

.features button{
    border: none;
    outline: none;
    color:#fff;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: black;
    border: 2px solid red;
}

.features button:hover{
    background:#22303c;
    transition: all 0.3s ease;
}


button.loading{
    opacity: 0.7;
    pointer-events: none;
}